<%- include('./header.ejs') %>
    <% if(!producto) { %>
        <form action="http://localhost:3000/producto/" method="post">
            <input type="text" name="nombre" id="nombre">
            <input type="text" name="categoria" id="categoria">
            <input type="text" name="descripcion" id="descripcion">
            <input type="text" name="precio" id="precio">
            <input type="image" name="imagen" id="imagen">
            <button type="submit">enviar</button>
    <% } else { %>
        <form action="http://localhost:3000/producto/<%=producto.id %>" method="put"><!-- form no admite put, a menos que se use el middleware method-override -->
            <input type="text" name="nombre" id="nombre" value="<%=producto.nombre%>">
            <input type="text" name="categoria" id="categoria" value="<%=producto.categoria%>">
            <input type="text" name="descripcion" id="descripcion" value="<%=producto.descripcion%>">
            <input type="text" name="precio" id="precio" value="<%=producto.precio%>">
            <input type="image" name="imagen" id="imagen" value="<%=producto.imagen%>">
            <input type="checkbox" name="activo" id="activo" hidden checked>
            <button>enviar</button>
    <% } %>
    </form>
<%- include('./footer.ejs') %>